.header{
    position: absolute;
    height: 88px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: linear-gradient(#FFFFFF,#737B7D);
}
.footer {
    position: relative; /* make the parent element position-relative */
    padding-bottom: 746px;
  }
body{
    margin:0;
    padding:0;
}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.logo-text{
    position: absolute;
    height: 64px;
    left: 33px;
    right: 0px;
    top: calc(50% - 49px/2);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    text-decoration: none;
    /* or 133% */

    display: flex;
    /* align-items: center; */
    letter-spacing: 0.2px;
    text-transform: uppercase;

    /* Main/Blue */

    color: #3C64B1;
}
.menu-bar{
    position:absolute;
    left:408px;
    width: 467px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-text:hover{
    color:#3C64B1
}
.menu-text{
    width: auto;
    height: auto;

    /* Semibold/14px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    /* Main/Blue 
    color: #3C64B1; */
}
.btn{
    width: 89px;
    height: 42px;
    background: radial-gradient(Blue, purple);
    border: none;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

    /* identical to box height, or 129% */
    letter-spacing: 0.3px;
}
.login-signup{
    position:absolute;
    left: 1028px;
    width: 238px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.content{
    position: absolute;
    height: 672px;
    left: 0px;
    right: 0px;
    top: 88px;
    background: linear-gradient(#3C64B1,#FFFFFF,#737B7D);

}
.motto{
    position: absolute;
    height: 159px;
    left: 165px;
    right: 830px;
    top: calc(50% - 159px/2 - 121.5px);

    /* Bold/44px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    /* or 127% */

    letter-spacing: 0.2px;

    color: #373F41;

}
.abt{
    position: absolute;
    height: 88px;
    left: 165px;
    right: 830px;
    top: calc(50% - 88px/2 + 110px);

    /* Regular/16px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    letter-spacing: 0.3px;

    color: #737B7D;
}
.box{
    position: relative;
    box-sizing: border-box;
    height: 35.925926208496094px;
    width: 570.3240966796875px;
    bottom: 90.74%;
    left: 731px;
    top: 205px;

    background: #FFFFFF;
    border: 1.34722px solid #3C64B1;
}
.three-boxes{
    position: absolute;
    left: 1.89%;
    right: 96.54%;
    top: 3.47%;
    bottom: 94.21%;
    font-size: large;
}
.sample-img{
    position: absolute;
    left: 54.2%;
    right: 0%;
    top: 35.9%;
    bottom: 0%;
    width: 42.09%;
    border: 1.34722px solid #3C64B1;
}

.features {
    position: absolute; /* position the child element absolutely within the parent */
    bottom: 0; /* position the child element at the bottom of the parent */
    left: 0; /* position the child element at the left of the parent */
    width: 100%; /* set the child element width to 100% to fill the parent */
    margin-top: 60px; /* add margin to the top of the child element */
}  
.heading-features{
    /* We offer a complete range of features */


    position: absolute;
    width: 920px;
    left: calc(50% - 920px/2);
    top: 0px;
    /* bottom: 0px; */

    /* Bold/32px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */

    text-align: center;
    letter-spacing: 0.1px;

    /* Light / Black */

    color: #373F41;
}
.small-heading{
    position: absolute;
    height: 24px;
    left: -899px;
    right: 0px;
    top: 208px;
    width: 467px;

    /* Bold/18px */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    display: flex;
    justify-content: space-between;
    text-align: center;
    letter-spacing: 0.1px;

    /* Light / Black */

    color: #373F41;

}
.after-small-heading{
    position: absolute;
    left: -889px;
    right: 0px;
    top: 251px;
    bottom: 0px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
}
.icons{
    position: absolute;
    top: 192px;
    left: 206px;
    font-size: 25px;
}